:root {
  --pink: #e84393;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
section {
  padding: 2rem 9%;
}
.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  margin: 2rem 0;
  padding: 1rem;
  background-color: rgba(255, 51, 153, 0.05);
}
.heading span {
  color: var(--pink);
}
.btn {
  display: inline-block;
  background-color: #333;
  font-size: 1.7rem;
  border-radius: 5rem;
  color: #fff;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  margin-top: 1rem;
}
.btn:hover {
  background-color: var(--pink);
}
/* header */
header {
  position: fixed;
  top: 0%;
  right: 0%;
  left: 0%;
  background-color: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 3rem;
  color: #333;
  font-weight: bolder;
}
header .logo span {
  color: var(--pink);
}
header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #666;
}
header .navbar a:hover {
  color: var(--pink);
}
header .icons a {
  font-size: 2.5rem;
  color: #333;
  margin-left: 1.5rem;
}
header .icons a:hover {
  color: var(--pink);
}

header #toggler {
  display: none;
}
header .fa-bars {
  font-size: 3rem;
  color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: none;
}
/* end of header */

.products h1 {
  margin-top: 7rem;
}

/* 




*/
/* products design */

.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.products .box-container .box {
  flex: 1 1 30rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.products .box-container .box .image {
  position: relative;
  text-align: center;
  padding: 2rem;
  /* overflow: hidden; */
}
.products .box-container .box .image img {
  height: 25rem;
}
.products .box-container .box:hover .image img {
  transform: scale(1.1);
}
.products .box-container .box .image .icons {
  position: absolute;
  /* bottom: -7rem; */
  right: 0;
  left: 0;
  display: flex;
}

.products .box-container .box .image .icons a {
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 50%;
  background: var(--pink);
  color: #fff;
}
.products .box-container .box .image .icons p {
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 50%;
  background: var(--pink);
  color: #fff;
}
.products .box-container .box .image .icons .cart-btn {
  border-left: 0.1rem solid #fff7;
  border-right: 0.1rem solid #fff7;
  width: 100%;
}
.products .box-container .box .image .icons a:hover {
  background: #333;
}

.box {
  margin: 2rem;
}
/* products design end */
/* 




*/
/* footer design */
.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  flex: 1 1 25rem;
}

.footer .box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
  padding: 1rem 0;
}
.footer .box-container .box a {
  display: block;
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;
}
.footer .box-container .box a:hover {
  color: var(--pink);
  text-decoration: underline;
}
.footer .box-container .box img {
  margin-top: 1rem;
}

.footer .credit {
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #333;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}
/* end of footer design */

/* extra */
.icons a span {
  position: absolute;
  top: 11px;
  background-color: var(--pink);
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff;
  padding: 0.3rem;
}

/* end */

/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
  .home {
    background-position: left;
  }
}
@media (max-width: 768px) {
  header .fa-bars {
    display: block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #eee;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header #toggler:checked ~ .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a {
    padding: 1.5rem;
    margin: 1.5rem;
    background-color: #fff;
    display: block;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
  .home .content h3 {
    font-size: 5rem;
  }
  .home .content span {
    font-size: 2.5rem;
  }
  .icons-container .icons h3 {
    font-size: 2rem;
  }
  .icons-container .icons span {
    font-size: 1.7rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
}
